<!DOCTYPE html>
<html>
<head>
	<center><h1><a href="home.html"><img src="/static/logo.png"></a></h1></center>

<link rel="stylesheet" type="text/css" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body background="/static/back.jpg">
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="upcoming">Upcoming</a></li>
  <li><a href="contact">Contact Us</a></li>
  <li><a href="about">About</a></li>
</ul>
<h2> <center> Contact us for any Complaints or Concerns</center></h2>

<div class="container">
  <form action="/submit_form" method="post">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="Name" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="Last" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="Country">
      <option value="palestine">Palestine</option>
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
      <option value="jordan">Jordan</option>
      <option value="uae">UAE</option>
      <option value="israel">Israel</option>

    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="Subject" placeholder="Write something.." style="height:200px"></textarea>

    <input <a href="home" type="submit" value="Submit" >
  </form>
</div>


</ul>
